@font-face {
  font-family: Montserrat-Black;
  src: url("../font/Montserrat-Black.ttf");
}
@font-face {
  font-family: mr_kindlyjasmineg;
  src: url("../font/mr_kindlyjasmineg.ttf");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  min-width: 230px;
  height: 50px;
  padding: 0 16px;
  margin: 0;
  color: white;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}
.button--link {
  text-decoration: none;
}
.button__icon {
  width: 14px;
  fill: currentColor;
}

.social-links__icon {
  fill: white;
  width: 32px;
  height: 32px;
}

.carousel {
  max-width: 428px;
  position: relative;
  left: -24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.carousel__list {
  display: flex;
  column-gap: 20px;
}
.carousel__item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  scroll-snap-align: start;
}
.carousel__item--video {
  width: 295px;
  height: 187px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/carousel-hero-pic01.jpg);
}
.carousel__play-icon {
  width: 66px;
  height: 66px;
  fill: #ffc700;
}

.page__body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
}
.page__header {
  position: absolute;
  width: 100%;
  top: 26px;
}
.page__container {
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px; /*380px + paddings 24px*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page__container--popular {
  flex-direction: column;
  align-items: start;
}
.page__container--about {
  position: relative;
  height: 704px;
}
.page__container--about::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 304px;
  height: 100%;
  content: "";
  background-color: aqua;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/section-about-bg-mob.jpg");
}
.page__container--services {
  flex-direction: column;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px; /*same as container*/
  height: calc(100vh - 60px);
  background-color: transparent;
}
.menu__list--is-hidden {
  display: none;
}
.menu__item {
  font-size: 32px;
}
.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
  fill: white;
  border: none;
  background-color: transparent;
}

.section {
  padding: 0;
  margin: 0;
  padding-top: 150px;
}
.section--hero {
  padding-top: 0;
}
.section__content {
  padding-left: 24px;
  padding-right: 24px;
}
.section__content--hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  max-width: 428px;
  background-image: url("../img/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 90px;
  flex-basis: auto;
}
.section__content--popular {
  margin-top: 92px;
}
.section__content--about {
  padding: 43px;
  width: 100%;
  min-height: 386px;
  background-color: #EDEDED;
  border-radius: 10px;
}
.section__content--services {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
  margin-top: 90px;
  row-gap: 40px;
}
.section__socials {
  display: flex;
  flex-direction: column;
  align-self: end;
  row-gap: 8px;
}
.section__title {
  padding: 0;
  margin: 0;
  color: #0499DD;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
.section__carousel {
  margin-top: 15px;
}
.section__description {
  margin: 20px 0 0 0;
  color: #282828;
  font-weight: 500;
  line-height: 1.23;
}
.section__description--big-gap {
  margin-top: 40px;
}

.title-petro {
  display: grid;
  grid-template-areas: "trevel trevel trevel trevel  . ." ".      .     . with   with with" "petro  petro petro   petro . ." "pt     pt    pt  pt   pt  pt";
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  text-transform: uppercase;
}
.title-petro .div1 {
  grid-area: trevel;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
}
.title-petro .div2 {
  grid-area: with;
  color: #ffc700;
  font-family: mr_kindlyjasmineg, cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 0.5;
  text-transform: none;
}
.title-petro .div3 {
  grid-area: petro;
  font-family: Montserrat-Black, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.9;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.title-petro .div4 {
  grid-area: pt;
  font-family: Montserrat-Black, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.9;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

.card {
  position: relative;
}
.card--promo {
  color: white;
}
.card--services {
  display: grid;
  column-gap: 20px;
  row-gap: 10px;
  grid-template-areas: "icon title title" "icon text text" ".    text text";
}
.card__thumb {
  display: block;
}
.card__thumb--services {
  grid-area: icon;
}
.card__content {
  height: 540px;
  align-items: start;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  top: 0;
  left: 0;
}
.card__rubric {
  margin: 182px 0 0 0;
  padding: 0;
}
.card__title {
  margin: 0;
  padding: 0;
  color: #ffc700;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
}
.card__title--services {
  grid-area: title;
  color: #0499DD;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
}
.card__attributes {
  display: flex;
  column-gap: 15px;
  padding: 0;
  font-size: 12px;
  line-height: 1.25;
}
.card__attribute-item {
  display: flex;
  align-items: center;
  column-gap: 4px;
  margin: 10px 0 0 0;
}
.card__attribute-icon {
  fill: white;
}
.card__attribute-icon--time {
  width: 12px;
  height: 12px;
}
.card__attribute-icon--price {
  width: 15px;
  height: 15px;
}
.card__description {
  margin: 20px 0 0 0;
  line-height: 1.23;
}
.card__description--services {
  grid-area: text;
  margin-top: 0;
}
.card__button {
  margin: auto 0 30px 0;
  min-width: 160px;
  height: 40px;
  font-size: 12px;
  line-height: 1.25;
}/*# sourceMappingURL=style.css.map */