@font-face {
  font-family: Montserrat-Black;
  src: url("../font/Montserrat-Black.ttf");
}
@font-face {
  font-family: mr_kindlyjasmineg;
  src: url("../font/mr_kindlyjasmineg.ttf");
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  min-width: 230px;
  height: 50px;
  padding: 0 16px;
  margin: 0;
  color: white;
  background: linear-gradient(92.71deg, #0499DD 0%, #17C1BC 100%);
  border-radius: 60px;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
}
.button--link {
  text-decoration: none;
}
.button__icon {
  width: 14px;
  fill: currentColor;
}

.social-links__icon {
  fill: white;
  width: 32px;
  height: 32px;
}

.carousel {
  max-width: 428px;
  position: relative;
  left: -24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.carousel__list {
  display: flex;
  column-gap: 20px;
}
.carousel__item {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  scroll-snap-align: start;
}
.carousel__item--video {
  width: 295px;
  height: 187px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/carousel-hero-pic01.jpg);
}
.carousel__item--excurtion {
  width: 280px;
  height: 540px;
  background-color: gray;
}
.carousel__play-icon {
  width: 66px;
  height: 66px;
  fill: #ffc700;
}

.page__body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
.page__header {
  position: absolute;
  width: 100%;
  top: 26px;
}
.page__container {
  top: 0;
  left: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px; /*380px + paddings 24px*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page__container--popular {
  flex-direction: column;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
}
.menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 428px; /*same as container*/
  height: calc(100vh - 60px);
  background-color: transparent;
}
.menu__list--is-hidden {
  display: none;
}
.menu__item {
  font-size: 32px;
}
.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  width: 40px;
  height: 40px;
  fill: white;
  border: none;
  background-color: transparent;
}

.section {
  padding: 0;
  margin: 0;
}
.section--popular {
  padding-top: 150px;
}
.section__content {
  padding-left: 24px;
  padding-right: 24px;
}
.section__content--hero {
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  max-width: 428px;
  background-image: url("../img/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 90px;
  flex-basis: auto;
}
.section__socials {
  display: flex;
  flex-direction: column;
  align-self: end;
  row-gap: 8px;
}
.section__carousel {
  margin-top: 15px;
}

.title-petro {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 36px 36px 72px 72px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  text-transform: uppercase;
  width: 323px;
  height: 186px;
  border: 2px solid #fff;
}
.title-petro .div1 {
  grid-area: 1/1/2/5;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;
}
.title-petro .div2 {
  grid-area: 2/3/3/5;
  color: #ffc700;
  font-family: mr_kindlyjasmineg, cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 1;
  text-transform: none;
}
.title-petro .div3 {
  grid-area: 3/1/4/4;
  font-family: Montserrat-Black, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.9;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}
.title-petro .div4 {
  grid-area: 4/1/5/4;
  font-family: Montserrat-Black, sans-serif;
  font-weight: 900;
  font-size: 72px;
  line-height: 0.9;
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}/*# sourceMappingURL=style.css.map */