.carousel {
  max-width: 428px;

  &__list {
    display: flex;
    column-gap: 20px;
    overflow-x: scroll;
  }

  &__item {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 187px;
    border-radius: 10px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(../img/carousel-hero-pic01.jpg);
  }

  &__play-icon {
    width: 66px;
    height: 66px;
    fill: $accent-color;
  }
}
