.carousel {
  max-width: 428px;
  position: relative;
  left: -24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &__list {
    display: flex;
    column-gap: 20px;
    // padding-left: 24px;
  }
  &--video {
  }

  &__item {
    display: flex;
    flex-shrink: 0;

    justify-content: center;
    align-items: center;

    border-radius: 10px;

    scroll-snap-align: start;

    &--video {
      width: 295px;
      height: 187px;

      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url(../img/carousel-hero-pic01.jpg);
    }

    &:first-child {
    //   margin-left: 24px;
    // outline: 2px solid red;
    }
  }

  &__play-icon {
    width: 66px;
    height: 66px;
    fill: $accent-color;
  }
}
