@font-face {
    font-family: Montserrat-Black;
    src: url("../font/Montserrat-Black.ttf");
  }

  @font-face {
    font-family: mr_kindlyjasmineg;
    src: url("../font/mr_kindlyjasmineg.ttf");
  }