.section {
  padding: 0;
  margin: 0;

  &--hero {
  }

  &--popular{
    padding-top: 150px;
  }

  &__content {
    padding-left: 24px;
    padding-right: 24px;
    &--hero {
      margin-left: auto;
      margin-right: auto;
      padding-top: 200px;
      max-width: 428px;
      // height: 1019px;
      background-image: url("../img/hero-bg-mob.jpg");
      background-repeat: no-repeat;
    
      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 90px;
      flex-basis: auto;
    }
  }
  &__socials{
    display: flex;
    flex-direction: column;
    align-self: end;
    row-gap: 8px;
  }

  &__title {

    &--hero {
        // display: flex;
        // flex-direction: column;
    }
    
  }

  &__carousel {
    // overflow: hidden;
    margin-top: 15px;
  }
}
