.section {
  padding: 0;
  margin: 0;
  padding-top: 150px;

  &--hero {
    padding-top: 0;
  }

  &--feedback {
    padding-top: 0;
    height: 928px;
  }

  &__content {
    padding-left: 24px;
    padding-right: 24px;
    &--hero {
      margin-left: auto;
      margin-right: auto;
      padding-top: 200px;
      max-width: 428px;
      background-image: url("../img/hero-bg-mob.jpg");
      background-repeat: no-repeat;

      display: flex;
      flex-direction: column;
      align-items: start;
      row-gap: 90px;
      flex-basis: auto;
    }
    &--popular {
      margin-top: 92px;
    }
    &--about {
      // margin-top: 159px;

      padding: 43px;
      width: 100%;
      min-height: 386px;
      background-color: #ededed;

      border-radius: 10px;
    }

    &--services {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      margin-top: 70px;
      row-gap: 40px;
    }

    &--gallery {
      margin-top: 90px;
      padding: 0;
    }

    &--reviews {
      margin-top: 90px;
      padding: 0;
    }

    &--feedback {
      padding-left: 40px;
      padding-right: 40px;
      margin-top: 25px;
      min-height: 640px;

      background: rgba(0, 0, 0, 0.3);
      backdrop-filter: blur(10px);
    }
  }
  // &__socials {
  //   display: flex;
  //   flex-direction: column;
  //   align-self: end;
  //   row-gap: 8px;
  // }

  &__title {
    padding: 0;
    margin: 0;
    color: $section-title-color;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;

    &--hero {
      // display: flex;
      // flex-direction: column;
    }

    &--more {
      //   width: 50%;
      // margin-left: auto;
      display: flex;
      width: 100%;
      align-items: center;
    }

    &--services {
      // align-self: left;
    }

    &--feedback {
      color: #ffffff;
      margin-top: 138px;
    }
  }

  &__carousel {
    // overflow: hidden;
    margin-top: 15px;
  }

  &__description {
    margin: 20px 0 0 0;
    color: #282828;
    font-weight: 500;
    line-height: 1.23;

    &--big-gap {
      margin-top: 40px;
    }

    &--services {
      margin-top: 40px;

      font-size: 14px;
      text-align: center;
    }
  }

  &__link-more {
    // width: 50%;
    margin-left: auto;
    color: #282828;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
  }

  &__tagline {
    color: #ffc700;
    margin-top: 6px;
    margin-bottom: 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
  }
}
