.title-petro {
  

  display: grid;
  grid-template-areas: 
  "trevel trevel trevel trevel  . ."
  ".      .     . with   with with"
  "petro  petro petro   petro . ."
  "pt     pt    pt  pt   pt  pt" ;
  grid-template-columns: repeat(5, 1fr);
  // repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  text-transform: uppercase;
  // width: 323px;
  // height: 186px;
  // border: 2px solid #fff;

  .div1 {
    grid-area: trevel;

    font-weight: 700;
    font-size: 36px;
    line-height: 0.6;
        align-self: end;
  }
  .div2 {
    grid-area: with;
    
    color: $accent-color;

    font-family: mr_kindlyjasmineg, cursive;
    font-weight: 400;
    font-size: 48px;
    line-height: 0.5;

    text-transform: none;
    align-self: start;
    justify-self: start;
    
  }
  .div3 {
    
    grid-area: petro;

    font-family: Montserrat-Black, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 0.9;

    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
    
  }
  .div4 {
    grid-area: pt;
    
    font-family: Montserrat-Black, sans-serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 0.9;

    -webkit-text-stroke: 2px white;
    -webkit-text-fill-color: transparent;
  }
}
