.menu {
    // position: relative;

    width: 100%;
    outline: 1px solid orange;

    &__list {
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: aqua;

        display: flex;
        flex-direction: column;

        // outline: 1px solid orange;
    }
    &__item {

    }
}